In [18]:
import numpy as np
import pandas as pd
from pandasql import sqldf
q = lambda q: sqldf(q, globals())
import re

In [16]:
df = pd.read_csv('data/train.csv', sep=",", nrows=500)
metadata_df = pd.read_csv('data/metaData_taxistandsID_name_GPSlocation.csv', sep=",", nrows=500)
metadata_df['Latitude'][40] = 41.163066654
metadata_df['Longitude'][40] = -8.67598304213
metadata_df

/Users/peterjmyers/Work/commons/venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/peterjmyers/Work/commons/venv/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

    ID                 Descricao       Latitude  Longitude
0    1                      Agra  41.1771457135  -8.609670
1    2                   Alameda    41.15618964  -8.591064
2    3                    Aldoar  41.1705249231  -8.665876
3    4                 Alfândega  41.1437639911  -8.621803
4    5                     Amial  41.1835097223  -8.612726
5    6                    Areosa  41.1808043369  -8.582783
6    7              Av. Boavista  41.1599801853  -8.641984
7    8                   Azevedo  41.1515920975  -8.568195
8    9                   Batalha  41.1442525263  -8.605720
9   10                    Bolhão  41.1507106526  -8.606910
10  11                Bom Pastor  41.1670339026  -8.613267
11  12               Bom Sucesso  41.1551197292  -8.630466
12  13                  Brasília  41.1570891314  -8.628468
13  14                    Câmara  41.1497021913  -8.611071
14  15                  Campanhã  41.1486275073  -8.585877
15  16                  Campismo  41.1754722349  -8.627791
16  17                Carcereira  41.1644515812  -8.632286
17  18                  Carregal  41.1483209068  -8.619603
18  19              Carvalheiras  41.1535929278  -8.605426
19  20                Carvalhido  41.1669278236  -8.626779
20  21            Casa da Musica   41.160886353  -8.629565
21  22         Castelo do Queijo   41.168317889  -8.689180
22  23                  Clérigos  41.1460158298  -8.612575
23  24            Conde Ferreira  41.1695302186  -8.589348
24  25                 Cordoaria   41.146299872  -8.617638
25  26                 Corujeira  41.1595606398  -8.579776
26  27                 D. João I  41.1480321319  -8.609241
27  28                    Dragão  41.1632224305  -8.584047
28  29                   Francos  41.1710190954  -8.638666
29  30                    Galiza  41.1517836424  -8.627759
..  ..                       ...            ...        ...
33  34                   Infante  41.1405168841  -8.615952
34  35                      Lago   41.167431809  -8.649527
35  36                   Lordelo  41.1546571224  -8.649074
36  37                  Marechal  41.1610810603  -8.657547
37  38                   Marquês  41.1607148883  -8.604246
38  39               Maternidade  41.1508914639  -8.622800
39  40            Mercado da Foz  41.1542337417  -8.674007
40  41                 Nevogilde        41.1631  -8.675983
41  42             Nove de Abril  41.1727485684  -8.611784
42  43                      Ouro  41.1486110328  -8.648886
43  44                   Palácio   41.149617396  -8.625784
44  45            Passeio Alegre  41.1486486007  -8.672795
45  46           Pereira de Melo  41.1786451618  -8.648536
46  47                   Pereiró  41.1738135714  -8.654496
47  48          Pinto de Azevedo   41.171262373  -8.645050
48  49        Pólo Universitário  41.1795510913  -8.602539
49  50                   Prelada   41.169838306  -8.628902
50  51               Ramada Alta  41.1614038495  -8.621122
51  52                 Républica  41.1549650972  -8.613217
52  53                   Ribeira  41.1412081961  -8.614012
53  54                   Rotunda  41.1580038805  -8.630375
54  55                 São Roque   41.166000771  -8.570352
55  56               Sá Carneiro  41.1628786974  -8.591645
56  57                 São Bento  41.1457188058  -8.610707
57  58                     Terço  41.1615915925  -8.604528
58  59           Tenente Valadim  41.1607030178  -8.641205
59  60                  Trindade  41.1511237005  -8.609843
60  61  Vinte e Quatro de Agosto  41.1493101131  -8.600309
61  62                      Viso  41.1778737602  -8.646558
62  63               Santa Maria  41.1603753216  -8.609370

[63 rows x 4 columns]

In [20]:
def closest_location(longitude, latitude):
    df_temp = q("select a.*, ((longitude - {}) * (longitude - {})) + ((latitude - {}) * (latitude - {})) d_squared from metadata_df a".format(longitude, longitude,  latitude, latitude))
    df_temp['d'] = df_temp['d_squared'].apply(lambda x: np.sqrt(x))
    return sqldf("select * from df_temp order by d asc", locals())

closest_location(-8.618643,41.141412)

,ID,Descricao,Latitude,Longitude,d_squared,d
0,34,Infante,41.1405168841,-8.615952,0.000008,0.002836
1,4,Alfândega,41.1437639911,-8.621803,0.000016,0.003939
2,53,Ribeira,41.1412081961,-8.614012,0.000021,0.004635
3,25,Cordoaria,41.146299872,-8.617638,0.000025,0.004990
4,18,Carregal,41.1483209068,-8.619603,0.000049,0.006975
5,23,Clérigos,41.1460158298,-8.612575,0.000058,0.007617
6,57,São Bento,41.1457188058,-8.610707,0.000082,0.009029
7,39,Maternidade,41.1508914639,-8.622800,0.000107,0.010351
8,44,Palácio,41.149617396,-8.625784,0.000118,0.010878
9,14,Câmara,41.1497021913,-8.611071,0.000126,0.011228
10,27,D. João I,41.1480321319,-8.609241,0.000132,0.011499
11,60,Trindade,41.1511237005,-8.609843,0.000172,0.013105
12,9,Batalha,41.1442525263,-8.605720,0.000175,0.013232
13,30,Galiza,41.1517836424,-8.627759,0.000191,0.013809
14,52,Républica,41.1549650972,-8.613217,0.000213,0.014599
15,10,Bolhão,41.1507106526,-8.606910,0.000224,0.014971
16,19,Carvalheiras,41.1535929278,-8.605426,0.000323,0.017974
17,12,Bom Sucesso,41.1551197292,-8.630466,0.000328,0.018102
18,32,H. Militar,41.1576623087,-8.627044,0.000335,0.018293
19,13,Brasília,41.1570891314,-8.628468,0.000342,0.018501
20,61,Vinte e Quatro de Agosto,41.1493101131,-8.600309,0.000399,0.019963
21,51,Ramada Alta,41.1614038495,-8.621122,0.000406,0.020145
22,54,Rotunda,41.1580038805,-8.630375,0.000413,0.020321
23,63,Santa Maria,41.1603753216,-8.609370,0.000446,0.021109
24,21,Casa da Musica,41.160886353,-8.629565,0.000499,0.022328
25,38,Marquês,41.1607148883,-8.604246,0.000580,0.024081
26,58,Terço,41.1615915925,-8.604528,0.000606,0.024626
27,11,Bom Pastor,41.1670339026,-8.613267,0.000685,0.026180
28,17,Carcereira,41.1644515812,-8.632286,0.000717,0.026776
29,20,Carvalhido,41.1669278236,-8.626779,0.000717,0.026781
...,...,...,...,...,...,...
33,43,Ouro,41.1486110328,-8.648886,0.000966,0.031088
34,2,Alameda,41.15618964,-8.591064,0.000979,0.031288
35,42,Nove de Abril,41.1727485684,-8.611784,0.001029,0.032079
36,36,Lordelo,41.1546571224,-8.649074,0.001101,0.033188
37,15,Campanhã,41.1486275073,-8.585877,0.001126,0.033551
38,56,Sá Carneiro,41.1628786974,-8.591645,0.001190,0.034492
39,16,Campismo,41.1754722349,-8.627791,0.001244,0.035267
40,29,Francos,41.1710190954,-8.638666,0.001277,0.035742
41,1,Agra,41.1771457135,-8.609670,0.001357,0.036843
42,48,Pinto de Azevedo,41.171262373,-8.645050,0.001588,0.039855
43,35,Lago,41.167431809,-8.649527,0.001631,0.040384
44,24,Conde Ferreira,41.1695302186,-8.589348,0.001649,0.040606
45,28,Dragão,41.1632224305,-8.584047,0.001673,0.040897
46,49,Pólo Universitário,41.1795510913,-8.602539,0.001714,0.041400
47,5,Amial,41.1835097223,-8.612726,0.001807,0.042512
48,26,Corujeira,41.1595606398,-8.579776,0.001840,0.042895
49,37,Marechal,41.1610810603,-8.657547,0.001900,0.043593
50,33,H. São João,41.1827872098,-8.600122,0.002055,0.045331
51,62,Viso,41.1778737602,-8.646558,0.002109,0.045920
52,46,Pereira de Melo,41.1786451618,-8.648536,0.002280,0.047748
53,47,Pereiró,41.1738135714,-8.654496,0.002335,0.048325
54,8,Azevedo,41.1515920975,-8.568195,0.002649,0.051465
55,6,Areosa,41.1808043369,-8.582783,0.002838,0.053270
56,55,São Roque,41.166000771,-8.570352,0.002937,0.054191
57,45,Passeio Alegre,41.1486486007,-8.672795,0.002985,0.054634
58,3,Aldoar,41.1705249231,-8.665876,0.003079,0.055484
59,40,Mercado da Foz,41.1542337417,-8.674007,0.003230,0.056829
60,31,H. Magalhães Lemos,41.1769535175,-8.663960,0.003317,0.057592
61,41,Nevogilde,41.163066654,-8.675983,0.003757,0.061293
62,22,Castelo do Queijo,41.168317889,-8.689180,0.005699,0.075494

In [13]:
df['polyline_length'] = df['POLYLINE'].apply(lambda x: len(x.split("],[")))
df['time_taken'] = df['polyline_length'].apply(lambda x: (x - 1) * 15)

df.head()

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE,polyline_length,time_taken
0,1372636858620000589,C,NaN,NaN,20000589,1372636858,A,False,"[[-8.618643,41.141412],[-8.618499,41.141376],[...",23,330
1,1372637303620000596,B,NaN,7.0,20000596,1372637303,A,False,"[[-8.639847,41.159826],[-8.640351,41.159871],[...",19,270
2,1372636951620000320,C,NaN,NaN,20000320,1372636951,A,False,"[[-8.612964,41.140359],[-8.613378,41.14035],[-...",65,960
3,1372636854620000520,C,NaN,NaN,20000520,1372636854,A,False,"[[-8.574678,41.151951],[-8.574705,41.151942],[...",43,630
4,1372637091620000337,C,NaN,NaN,20000337,1372637091,A,False,"[[-8.645994,41.18049],[-8.645949,41.180517],[-...",29,420

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
TRIP_ID         50 non-null int64
CALL_TYPE       50 non-null object
ORIGIN_CALL     8 non-null float64
ORIGIN_STAND    8 non-null float64
TAXI_ID         50 non-null int64
TIMESTAMP       50 non-null int64
DAY_TYPE        50 non-null object
MISSING_DATA    50 non-null bool
POLYLINE        50 non-null object
dtypes: bool(1), float64(2), int64(3), object(3)
memory usage: 3.3+ KB

In [4]:
df.dtypes

TRIP_ID           int64
CALL_TYPE        object
ORIGIN_CALL     float64
ORIGIN_STAND    float64
TAXI_ID           int64
TIMESTAMP         int64
DAY_TYPE         object
MISSING_DATA       bool
POLYLINE         object
dtype: object

['[[-8.618643,41.141412',
 '-8.618499,41.141376',
 '-8.620326,41.14251',
 '-8.622153,41.143815',
 '-8.623953,41.144373',
 '-8.62668,41.144778',
 '-8.627373,41.144697',
 '-8.630226,41.14521',
 '-8.632746,41.14692',
 '-8.631738,41.148225',
 '-8.629938,41.150385',
 '-8.62911,41.151213',
 '-8.629128,41.15124',
 '-8.628786,41.152203',
 '-8.628687,41.152374',
 '-8.628759,41.152518',
 '-8.630838,41.15268',
 '-8.632323,41.153022',
 '-8.631144,41.154489',
 '-8.630829,41.154507',
 '-8.630829,41.154516',
 '-8.630829,41.154498',
 '-8.630838,41.154489]]']

In [32]:
df2 = q("select MISSING_DATA, POLYLINE from df where CASE WHEN MISSING_DATA THEN 1 ELSE 0 END =1")

In [35]:
df2

   MISSING_DATA                                           POLYLINE
0             1  [[-8.612559,41.145975],[-8.612577,41.145975],[...
1             1                            [[-0.205893,41.010282]]
2             1  [[-8.569719,41.166135],[-8.567928,41.166477],[...
3             1  [[-8.626347,41.153436],[-8.626275,41.152905],[...
4             1  [[-8.652816,40.636575],[-8.652807,40.636566],[...
5             1  [[-8.604558,41.161941],[-8.604477,41.162013],[...
6             1  [[-8.609697,41.160276],[-8.609571,41.16033],[-...
7             1  [[-8.604792,41.16123],[-8.604801,41.161167],[-...
8             1                           [[-10.634022,43.834248]]
9             1  [[-8.620011,41.14683],[-8.619957,41.146659],[-...

In [33]:
df2.iloc[0]

MISSING_DATA                                                    1
POLYLINE        [[-8.612559,41.145975],[-8.612577,41.145975],[...
Name: 0, dtype: object

In [34]:
df2.iloc[1]

MISSING_DATA                          1
POLYLINE        [[-0.205893,41.010282]]
Name: 1, dtype: object

In [6]:
df.dtypes

TRIP_ID           int64
CALL_TYPE        object
ORIGIN_CALL     float64
ORIGIN_STAND    float64
TAXI_ID           int64
TIMESTAMP         int64
DAY_TYPE         object
MISSING_DATA       bool
POLYLINE         object
dtype: object

In [10]:
print (df2)

    ID                 Descricao                    Latitude  Longitude
0    1                      Agra               41.1771457135  -8.609670
1    2                   Alameda                 41.15618964  -8.591064
2    3                    Aldoar               41.1705249231  -8.665876
3    4                 Alfândega               41.1437639911  -8.621803
4    5                     Amial               41.1835097223  -8.612726
5    6                    Areosa               41.1808043369  -8.582783
6    7              Av. Boavista               41.1599801853  -8.641984
7    8                   Azevedo               41.1515920975  -8.568195
8    9                   Batalha               41.1442525263  -8.605720
9   10                    Bolhão               41.1507106526  -8.606910
10  11                Bom Pastor               41.1670339026  -8.613267
11  12               Bom Sucesso               41.1551197292  -8.630466
12  13                  Brasília               41.1570891314  -8.628468
13  14                    Câmara               41.1497021913  -8.611071
14  15                  Campanhã               41.1486275073  -8.585877
15  16                  Campismo               41.1754722349  -8.627791
16  17                Carcereira               41.1644515812  -8.632286
17  18                  Carregal               41.1483209068  -8.619603
18  19              Carvalheiras               41.1535929278  -8.605426
19  20                Carvalhido               41.1669278236  -8.626779
20  21            Casa da Musica                41.160886353  -8.629565
21  22         Castelo do Queijo                41.168317889  -8.689180
22  23                  Clérigos               41.1460158298  -8.612575
23  24            Conde Ferreira               41.1695302186  -8.589348
24  25                 Cordoaria                41.146299872  -8.617638
25  26                 Corujeira               41.1595606398  -8.579776
26  27                 D. João I               41.1480321319  -8.609241
27  28                    Dragão               41.1632224305  -8.584047
28  29                   Francos               41.1710190954  -8.638666
29  30                    Galiza               41.1517836424  -8.627759
..  ..                       ...                         ...        ...
33  34                   Infante               41.1405168841  -8.615952
34  35                      Lago                41.167431809  -8.649527
35  36                   Lordelo               41.1546571224  -8.649074
36  37                  Marechal               41.1610810603  -8.657547
37  38                   Marquês               41.1607148883  -8.604246
38  39               Maternidade               41.1508914639  -8.622800
39  40            Mercado da Foz               41.1542337417  -8.674007
40  41                 Nevogilde  41.163066654-8.67598304213        NaN
41  42             Nove de Abril               41.1727485684  -8.611784
42  43                      Ouro               41.1486110328  -8.648886
43  44                   Palácio                41.149617396  -8.625784
44  45            Passeio Alegre               41.1486486007  -8.672795
45  46           Pereira de Melo               41.1786451618  -8.648536
46  47                   Pereiró               41.1738135714  -8.654496
47  48          Pinto de Azevedo                41.171262373  -8.645050
48  49        Pólo Universitário               41.1795510913  -8.602539
49  50                   Prelada                41.169838306  -8.628902
50  51               Ramada Alta               41.1614038495  -8.621122
51  52                 Républica               41.1549650972  -8.613217
52  53                   Ribeira               41.1412081961  -8.614012
53  54                   Rotunda               41.1580038805  -8.630375
54  55                 São Roque                41.166000771  -8.570352
55  56               Sá Carneiro               41.1628786974  -8.591645
56  57                 São Bento               41.1457188058  -8.610707
57  58                     Terço               41.1615915925  -8.604528
58  59           Tenente Valadim               41.1607030178  -8.641205
59  60                  Trindade               41.1511237005  -8.609843
60  61  Vinte e Quatro de Agosto               41.1493101131  -8.600309
61  62                      Viso               41.1778737602  -8.646558
62  63               Santa Maria               41.1603753216  -8.609370

[63 rows x 4 columns]

In [14]:
df3 = pd.read_csv('data/test.csv', sep=",", nrows=500)
df3

,TRIP_ID,CALL_TYPE,ORIGIN_CALL,ORIGIN_STAND,TAXI_ID,TIMESTAMP,DAY_TYPE,MISSING_DATA,POLYLINE
0,T1,B,NaN,15.0,20000542,1408039037,A,False,"[[-8.585676,41.148522],[-8.585712,41.148639],[..."
1,T2,B,NaN,57.0,20000108,1408038611,A,False,"[[-8.610876,41.14557],[-8.610858,41.145579],[-..."
2,T3,B,NaN,15.0,20000370,1408038568,A,False,"[[-8.585739,41.148558],[-8.58573,41.148828],[-..."
3,T4,B,NaN,53.0,20000492,1408039090,A,False,"[[-8.613963,41.141169],[-8.614125,41.141124],[..."
4,T5,B,NaN,18.0,20000621,1408039177,A,False,"[[-8.619903,41.148036],[-8.619894,41.148036]]"
5,T6,A,42612.0,NaN,20000607,1408037146,A,False,"[[-8.630613,41.178249],[-8.630613,41.178249],[..."
6,T7,B,NaN,15.0,20000310,1408038846,A,False,"[[-8.585622,41.148918],[-8.58564,41.1489],[-8...."
7,T8,A,31780.0,NaN,20000619,1408038948,A,False,"[[-8.582922,41.181057],[-8.582004,41.181813],[..."
8,T9,B,NaN,9.0,20000503,1408038563,A,False,"[[-8.606529,41.14467],[-8.606673,41.144724],[-..."
9,T10,B,NaN,15.0,20000327,1408038021,A,False,"[[-8.585658,41.148576],[-8.585703,41.148603],[..."
10,T11,B,NaN,56.0,20000664,1408038267,A,False,"[[-8.591229,41.162706],[-8.591229,41.162715],[..."
11,T12,C,NaN,NaN,20000160,1408038946,A,False,"[[-8.585694,41.148603],[-8.585757,41.148684],[..."
12,T13,C,NaN,NaN,20000017,1408039130,A,False,"[[-8.580105,41.159394],[-8.580231,41.159358],[..."
13,T14,C,NaN,NaN,20000312,1408036255,A,False,"[[-8.665353,41.18616],[-8.666892,41.188311],[-..."
14,T15,C,NaN,NaN,20000497,1408038388,A,False,"[[-8.649423,41.154354],[-8.650197,41.154138],[..."
15,T16,C,NaN,NaN,20000440,1408037740,A,False,"[[-8.618373,41.136003],[-8.618382,41.135877],[..."
16,T17,C,NaN,NaN,20000467,1408038804,A,False,"[[-8.627094,41.166936],[-8.627049,41.1669],[-8..."
17,T18,C,NaN,NaN,20000338,1408038215,A,False,"[[-8.607861,41.146236],[-8.607915,41.146236],[..."
18,T19,B,NaN,15.0,20000101,1408038749,A,False,"[[-8.585667,41.148567],[-8.585694,41.148639],[..."
19,T20,C,NaN,NaN,20000523,1408036754,A,False,"[[-8.667414,41.161671],[-8.667423,41.161662],[..."
20,T21,B,NaN,15.0,20000460,1408039125,A,False,"[[-8.585712,41.14854],[-8.585703,41.148549],[-..."
21,T22,A,85698.0,NaN,20000199,1408039009,A,False,"[[-8.612757,41.137722],[-8.612658,41.137785],[..."
22,T23,A,37007.0,NaN,20000480,1408038924,A,False,"[[-8.625816,41.151294],[-8.625942,41.15133],[-..."
23,T24,B,NaN,15.0,20000250,1408039145,A,False,"[[-8.585658,41.148486],[-8.585658,41.148486],[..."
24,T25,B,NaN,12.0,20000903,1408039057,A,False,"[[-8.630667,41.154867],[-8.630928,41.15466],[-..."
25,T26,B,NaN,49.0,20000247,1408039029,A,False,"[[-8.60283,41.179644],[-8.603163,41.179716],[-..."
26,T27,B,NaN,15.0,20000263,1408038859,A,False,"[[-8.59212,41.160735],[-8.591499,41.161689],[-..."
27,T28,B,NaN,15.0,20000500,1408039165,A,False,"[[-8.585685,41.1489],[-8.586018,41.14899],[-8...."
28,T29,B,NaN,21.0,20000617,1408038439,A,False,"[[-8.628777,41.160978],[-8.628741,41.160969],[..."
29,T30,B,NaN,15.0,20000288,1408038605,A,False,"[[-8.58573,41.148513],[-8.585748,41.148846],[-..."
...,...,...,...,...,...,...,...,...,...
290,T298,B,NaN,16.0,20000158,1419171969,A,False,"[[-8.627697,41.175432],[-8.627463,41.174766],[..."
291,T299,C,NaN,NaN,20000693,1419166062,A,False,"[[-8.661942,41.183703],[-8.661942,41.183694],[..."
292,T300,A,41052.0,NaN,20000051,1419171407,A,False,"[[-8.573454,41.147199],[-8.573499,41.147262],[..."
293,T301,C,NaN,NaN,20000100,1419171112,A,False,"[[-8.606403,41.144454],[-8.60643,41.144544],[-..."
294,T302,A,34651.0,NaN,20000450,1419171742,A,False,"[[-8.610264,41.140845],[-8.610066,41.140809],[..."
295,T303,B,NaN,42.0,20000067,1419172159,A,False,"[[-8.612136,41.172849],[-8.612667,41.172804],[..."
296,T304,A,59708.0,NaN,20000612,1419172057,A,False,"[[-8.641251,41.165658],[-8.64126,41.165712],[-..."
297,T305,B,NaN,53.0,20000320,1419171753,A,False,"[[-8.613891,41.141286],[-8.61435,41.141115],[-..."
298,T306,C,NaN,NaN,20000047,1419171985,A,False,"[[-8.620461,41.156514],[-8.620506,41.156469],[..."
299,T307,C,NaN,NaN,20000081,1419171073,A,False,"[[-8.617581,41.14611],[-8.61759,41.146092],[-8..."
300,T308,C,NaN,NaN,20000542,1419162114,A,False,"[[-8.588457,41.148558],[-8.588844,41.147199],[..."
301,T309,C,NaN,NaN,20000109,1419167924,A,False,"[[-8.589096,41.155506],[-8.589105,41.155515],[..."
302,T310,A,73071.0,NaN,20000548,1419171991,A,False,"[[-8.668575,41.157891],[-8.668575,41.157909],[..."
303,T311,C,NaN,NaN,20000247,1419161986,A,False,"[[-8.607456,41.14872],[-8.60706,41.148621],[-8..."
304,T312,A,36542.0,NaN,20000565,1419171813,A,False,"[[-8.617113,41.160042],[-8.617122,41.160069],[..."
305,T313,A,75037.0,NaN,20000383,1419171819,A,False,"[[-8.628984,41.165874],[-8.629074,41.165874],[..."
306,T314,A,56743.0,NaN,20000345,1419171903,A,False,"[[-8.619723,41.161905],[-8.619768,41.161959],[..."
307,T315,A,37332.0,NaN,20000486,1419171879,A,False,"[[-8.623566,41.14431],[-8.623593,41.144328],[-..."
308,T316,C,NaN,NaN,20000496,1419171893,A,False,"[[-8.610723,41.144472],[-8.610489,41.143743],[..."
309,T317,A,48578.0,NaN,20000436,1419171826,A,False,"[[-8.640603,41.154948],[-8.640045,41.154714],[..."
310,T318,B,NaN,22.0,20000325,1419171921,A,False,"[[-8.689293,41.168169],[-8.689302,41.16816],[-..."
311,T319,A,80148.0,NaN,20000281,1419171095,A,False,"[[-8.606358,41.144526],[-8.606358,41.144589],[..."
312,T320,A,66812.0,NaN,20000549,1419164220,A,False,"[[-8.612532,41.159493],[-8.612532,41.15952],[-..."
313,T321,C,NaN,NaN,20000393,1419168199,A,False,"[[-8.667468,41.238099],[-8.667351,41.238288],[..."
314,T322,C,NaN,NaN,20000391,1419171201,A,False,"[[-8.606466,41.144697],[-8.606484,41.144697],[..."
315,T323,A,70885.0,NaN,20000430,1419171485,A,False,"[[-8.570196,41.159484],[-8.570187,41.158962],[..."
316,T324,B,NaN,53.0,20000020,1419170802,A,False,"[[-8.613873,41.141232],[-8.613882,41.141241],[..."
317,T325,C,NaN,NaN,20000207,1419172121,A,False,"[[-8.6481,41.152536],[-8.647461,41.15241],[-8...."
318,T326,A,76232.0,NaN,20000667,1419171980,A,False,"[[-8.571699,41.156073],[-8.570583,41.155929],[..."
319,T327,A,31208.0,NaN,20000255,1419171420,A,False,"[[-8.574561,41.180184],[-8.572248,41.17995],[-..."

In [15]:
df4 = pd.read_csv('data/sampleSubmission.csv', sep=",", nrows=500)

In [16]:
df4

    TRIP_ID  TRAVEL_TIME
0        T1          660
1        T2          660
2        T3          660
3        T4          660
4        T5          660
5        T6          660
6        T7          660
7        T8          660
8        T9          660
9       T10          660
10      T11          660
11      T12          660
12      T13          660
13      T14          660
14      T15          660
15      T16          660
16      T17          660
17      T18          660
18      T19          660
19      T20          660
20      T21          660
21      T22          660
22      T23          660
23      T24          660
24      T25          660
25      T26          660
26      T27          660
27      T28          660
28      T29          660
29      T30          660
..      ...          ...
290    T298          660
291    T299          660
292    T300          660
293    T301          660
294    T302          660
295    T303          660
296    T304          660
297    T305          660
298    T306          660
299    T307          660
300    T308          660
301    T309          660
302    T310          660
303    T311          660
304    T312          660
305    T313          660
306    T314          660
307    T315          660
308    T316          660
309    T317          660
310    T318          660
311    T319          660
312    T320          660
313    T321          660
314    T322          660
315    T323          660
316    T324          660
317    T325          660
318    T326          660
319    T327          660

[320 rows x 2 columns]

In [17]:
df3.dtypes

TRIP_ID          object
CALL_TYPE        object
ORIGIN_CALL     float64
ORIGIN_STAND    float64
TAXI_ID           int64
TIMESTAMP         int64
DAY_TYPE         object
MISSING_DATA       bool
POLYLINE         object
dtype: object